<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAywd7InPNiKUwGkyq-N12j-4gb3C4izG0</string>
	<key>GCM_SENDER_ID</key>
	<string>647541441499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comp350.workFlow</string>
	<key>PROJECT_ID</key>
	<string>workflow-3849b</string>
	<key>STORAGE_BUCKET</key>
	<string>workflow-3849b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647541441499:ios:ada8941b955b0e69805dfe</string>
</dict>
</plist>